{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.index' %}active{% endif %}" 
                           href="{{ url_for('admin.index') }}">
                            <span data-feather="home"></span>
                            控制台
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.users' %}active{% endif %}" 
                           href="{{ url_for('admin.users') }}">
                            <span data-feather="users"></span>
                            用户管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.resources' %}active{% endif %}" 
                           href="{{ url_for('admin.resources') }}">
                            <span data-feather="file"></span>
                            资源管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.categories' %}active{% endif %}" 
                           href="{{ url_for('admin.categories') }}">
                            <span data-feather="folder"></span>
                            分类管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'admin.stats' %}active{% endif %}" 
                           href="{{ url_for('admin.stats') }}">
                            <span data-feather="bar-chart-2"></span>
                            数据统计
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace()
</script>
{% endblock %} 